.topCon {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.searchItem button {
  width: 120px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.searchBar {
  width: 320px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.sortItem {
  justify-content: center;
  width: 50%;
  display: flex;
  gap: 15px;
}

.sortBar {
  width: 140px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.sortItem button {
  width: 80px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.sortBar:focus {
  border-color: #ea820bd3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cardItem {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.095);
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
}

.cardItem:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.188);
}

.cardItem img {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.cardContent {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardTitle {
  font-size: 18px;
  margin: 0;
}

.cardMeta {
  display: flex;
  justify-content: space-between;
}

.cardMeta p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.description {
  font-size: 13px;
  color: #444;
}

.rarity {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  width: fit-content;
  font-size: 13px;
}

.common {
  background: #e0e0e0;
  color: #333;
}

.uncommon {
  background: #4caf50;
  color: white;
}

.rare {
  background: #2196f3;
  color: white;
}

.mythic {
  background: rgb(164, 1, 201);
  color: white;
}

.legendary {
  background: rgb(223, 135, 3);
  color: white;
}
