body {
  background-color: rgb(188, 187, 187);
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  width: 100%;
  background-color: #f3f0e8;
  border: 6px solid #1c1c1c;
  border-radius: 16px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 92vw;
}

header img {
  max-width: 200px;
  max-height: 200px;
}

.navbar {
  width: 100%;
  background-color: #f1e9cb;
  border: 3px solid #1c1c1c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  margin-bottom: 20px;
  width: 93vw;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navbar a:hover {
  color: #5a3d00;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    gap: 15px;
    padding: 8px;
    justify-content: center;
  }

  .navbar a {
    font-size: 15px;
  }

  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .setGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .cardsToBuy {
    grid-template-columns: 1fr;
  }

  form {
    width: 90%;
  }

  .sortItem {
    flex-wrap: wrap;
    width: 100%;
  }

  .sortBar {
    width: 100%;
  }

  .searchBar {
    width: 100%;
  }

  .topInfoCon {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }

  .setGrid {
    grid-template-columns: 1fr;

  }

  .navbar {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .loginCon,
  .registerCon {
    width: 95vw;
    padding: 1.5rem;
  }
}
